<mat-form-field appearance="outline">
  <mat-label>Search</mat-label>

  <input matInput placeholder="Search" (keyup)="applyFilter($event)" />
</mat-form-field>

<table mat-table matSort [dataSource]="dataSource">
  @for (column of columns(); track column.code) {
    <ng-container [matColumnDef]="column.code">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [disabled]="column.sortDisabled"
      >
        {{ column.text }}
      </th>

      <td mat-cell *matCellDef="let row">
        @if (column.cellRef) {
          <ng-container
            [ngTemplateOutlet]="column.cellRef"
            [ngTemplateOutletContext]="{
              $implicit: row,
            }"
          >
          </ng-container>
        } @else if (column.content) {
          {{ column.content(row) }}
        } @else {
          {{ row[column.code] }}
        }
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>

  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns()"
    (click)="onRowClick(row)"
  ></tr>
</table>

<mat-paginator
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25]"
  showFirstLastButtons
>
</mat-paginator>
